<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 3 | Dashboard</title>
 
  <%- include('components/head_global.html') %>
  <!-- *********************************************** CALL TO SCRIPTS **************************************************** -->
  <!--------------------------Historial Incidencia-------------------->
  <script  type = "module" src="/js/core/historial_incidencia.js" defer></script>


  <!-- *********************************************** FINISH CALL TO SCRIPTS **************************************************** -->
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <%- include('components/dashboard/navbar.html') %>

    <%- include('components/dashboard/menu_navbar.html') %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">

      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- ************************************ INICIO REGISTRO CLIENTES *********************************************** -->
          <div class="row">
            <div class="col-md-12">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Lista Incidentes</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                      title="Collapse">
                      <i class="fas fa-minus"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div id="tabHistorialIncidencias">

                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>

          <!-- ************************************ FIN REGISTRO CLIENTES *********************************************** -->
        </div><!-- /.container-fluid -->
        <div class="modal fade" id="modal-lg">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header bg-warning" style="color: #ffffff">
                <h3 class="card-title">
                  <i class="fas fa-edit"></i>
                  Edición Incidencia
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- ************************************ INICIO REGISTRO CLIENTES *********************************************** -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="card ">
                      <div class="card-header bg-warning" style=" color: #ffffff">
                        <h3 class="card-title">Información Cliente</h3>

                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        </div>
                      </div>
                      <div class="card-body">

                        <hr>
                        <div class="row">
                          <div class="col-md-2">

                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputStatus">Tipo Documento:</label>
                              <select class="form-control custom-select">
                                <option selected disabled>Select one</option>
                                <option>Tarjeta de identidad</option>
                                <option>Cédula de ciudadanía</option>
                                <option>Cédula de Extranjería</option>
                                <option>Contraseña registraduria</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputName">Numero Identificación:</label>
                              <input type="text" id="inputName" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-2">

                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Nombre Cliente</label>
                              <input type="text" id="inputName" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Apellido Cliente</label>
                              <input type="text" id="inputName" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Celular</label>
                              <input type="text" id="inputName" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Telefono</label>
                              <input type="text" id="inputName" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Correo Electronico</label>
                              <input type="text" id="inputName" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Direccion Cliente</label>
                              <input type="text" id="inputName" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                </div>
                <!-- ************************************ FIN REGISTRO CLIENTES *********************************************** -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="card ">
                      <div class="card-header bg-warning" style="color: #ffffff">
                        <h3 class="card-title"> Edición Incidencia</h3>

                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        </div>
                      </div>

                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputName">Fecha</label>
                              <input type="date" id="inputName" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputStatus">Estado</label>
                              <select class="form-control custom-select">
                                <option selected disabled>Seleccionar Estado</option>
                                <option>Recibido</option>
                                <option>Escalar</option>
                                <option>Finalizado</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputStatus">Tipo de incidente</label>
                              <select class="form-control custom-select">
                                <option selected disabled>Seleccionar tipo de incidente </option>
                                <option>Software</option>
                                <option>Red</option>
                                <option>Hardware</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Definición del problema </label>
                              <textarea id="inputDescription" class="form-control" rows="4"></textarea>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Identificación del problema</label>
                              <textarea id="inputDescription" class="form-control" rows="4"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>

              </div>
              <div class="modal-footer justify-content-between bg-warning">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default toastrDefaultSuccess" data-dismiss="modal">Save
                  changes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-------------------------------------------modal-info----------------------->
        <div class="modal fade" id="modal-info">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header bg-info" style=" color: #ffffff">
                <h3 class="card-title">
                  <i class="fas fa-eye"></i>
                  Informacion De Incidencia
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- ************************************ INICIO REGISTRO CLIENTES *********************************************** -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="card ">
                      <div class="card-header bg-info" style=" color: #ffffff">
                        <h3 class="card-title">Información Cliente</h3>

                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        </div>
                      </div>
                      <div class="card-body">

                        <hr>
                        <div class="row">
                          <div class="col-md-2">

                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputStatus">Tipo Documento:</label>
                              <select class="form-control custom-select" id="infoTypeId" disabled>
                                <option selected>Seleccionar tipo de Documento</option>
                                <option>Tarjeta de identidad</option>
                                <option>Cédula de ciudadanía</option>
                                <option>Cédula de Extranjería</option>
                                <option>Contraseña registraduria</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputName">Numero Identificación:</label>
                              <input type="text" id="infoId" class="form-control" disabled>
                            </div>
                          </div>
                          <div class="col-md-2">

                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Nombre Cliente</label>
                              <input type="text" id="infoName" class="form-control" disabled>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Apellido Cliente</label>
                              <input type="text" id="infoLastName" class="form-control" disabled>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Celular</label>
                              <input type="text" id="infoPhone" class="form-control" disabled>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Telefono</label>
                              <input type="text" id="infoLandline" class="form-control" disabled>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Correo Electronico</label>
                              <input type="text" id="infoEmail" class="form-control" disabled>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Direccion Cliente</label>
                              <input type="text" id="infoAddress" class="form-control" disabled>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                </div>
                <!-- ************************************ FIN REGISTRO CLIENTES *********************************************** -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="card ">
                      <div class="card-header bg-info" style=" color: #ffffff">
                        <h3 class="card-title"> Incidencia</h3>

                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        </div>
                      </div>

                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputName">Fecha</label>
                              <input type="date" id="infoDate" class="form-control" disabled>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputStatus">Estado</label>
                              <select class="form-control custom-select" disabled id="infoState">
                                <option selected disabled>Seleccionar Estado</option>
                                <option>Recibido</option>
                                <option>Escalar</option>
                                <option>Finalizado</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputStatus">Tipo de incidente</label>
                              <select class="form-control custom-select" disabled id="infoTypeIncident">
                                <option selected disabled>Seleccionar tipo de incidente </option>
                                <option>Software</option>
                                <option>Red</option>
                                <option>Hardware</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Definición del problema </label>
                              <textarea id="infoDefinition" class="form-control" rows="10" disabled></textarea>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="inputName">Identificación del problema</label>
                              <textarea id="infoIdentification" class="form-control" rows="10" disabled></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>

              </div>
              <div class="modal-footer justify-content-between bg-info">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
        </div>

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
</body>

</html>