<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<!--******************************************Design style***************************************** -->
	<link rel="stylesheet"  href="/css/dashboards/login.css">
	<!--******************************************Call to scripts ***************************************  -->
	
	<!-- Login core --> 
	<script  type = "module" src="/js/core/event/login.js" defer></script>
</head>

<!--********************************************BODY*-*************************************************-->
<body>
	<img class="wave" src="/img/adminlte/wave.png">
	<!--.container  --> 
	<div class="container">
		<div class="img">
		 <!--<img src="img/bg.svg">  -->
		</div>
		 <!-- .login-content-->
		<div class="login-content">
			<!-- form --> 
			<form>
				<img src="/img/adminlte/client.png">  
				<h2 class="title">BIENVENIDOS</h2>
				<!--.input-div one  (mail field entry)--> 
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Correo</h5>
           		   		<input type="email"  id="email"class="input" required>
           		   </div>	
				</div> 
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
					</div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input type="password" id="password" class="input" required>
            	   </div>
				</div>
				 <!-- /.input-div pass  (password field entry)-->   
				<button type="button" id= "login" class="btn" >login</button>
				<label style="color:red; display: none;" id ="incorrectoLogin" >usuario o contraseña incorrecta</label>
			</form>
			<!-- /form  --> 
		</div>
		 <!-- /.login content -->
	</div>
	<!--.container --> 
  
</body>
</html>    