<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registro Cliente</title>
    
    <%- include('components/head_global.html') %>
   
    <!-- *********************************************** CALL TO SCRIPTS **************************************************** -->
    <!--------------------------Register Cliente-------------------------->
    <script type ="module" src="/js/core/event/registro_Cliente.js" defer></script>


    <!-- *********************************************** FINISH CALL TO SCRIPTS **************************************************** -->
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('components/dashboard/navbar.html') %>
  
        <%- include('components/dashboard/menu_navbar.html') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">

            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- ************************************ INICIO REGISTRO CLIENTES *********************************************** -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Información Cliente</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            data-toggle="tooltip" title="Collapse">
                                            <i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="inputStatus">Tipo Documento:</label>
                                                <select id="tipoId" class="form-control custom-select">
                                                    <option selected disabled>Seleccionar tipo de Documento</option>
                                                    <option>Tarjeta de identidad</option>
                                                    <option>Cédula de ciudadanía</option>
                                                    <option>Cédula de Extranjería</option>
                                                    <option>Contraseña registraduria</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="inputName">Numero Identificación:</label>
                                                <input type="text" id="id" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">

                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName">Nombre Cliente</label>
                                                <input type="text" id="name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName">Apellido Cliente</label>
                                                <input type="text" id="lastName" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName">Celular</label>
                                                <input type="text" id="phone" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName">Telefono</label>
                                                <input type="text" id="landline" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName">Correo Electronico</label>
                                                <input type="text" id="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputStatus">Genero</label>
                                                <select id="gender" class="form-control custom-select">
                                                    <option selected disabled>Genero</option>
                                                    <option>Hombre</option>
                                                    <option>Mujer</option>
                                                    <option>Indefinido</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <!-- ************************************ FIN REGISTRO CLIENTES *********************************************** -->
                    <!-- Small boxes (Stat box) -->
                    <!--<div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Residencias</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            data-toggle="tooltip" title="Collapse">
                                            <i class="fas fa-minus"></i></button>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName">Ciudad</label>
                                                <select id="city" class="form-control custom-select">
                                                    <option selected disabled>Seleccionar Ciudad</option>
                                                    <option>Medellín</option>
                                                    <option>Bogotá</option>
                                                    <option>Cali</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputStatus">Dirección</label>
                                                <input type="text" id="address" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName">Pais </label>
                                                <select id="country" class="form-control custom-select">
                                                    <option selected disabled>Seleccionar Pais</option>
                                                    <option>Colombia</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName">Departamento</label>
                                                <select id="department" class="form-control custom-select">
                                                    <option selected disabled>Seleccionar Departamento</option>
                                                    <option>Antioquia</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style=>
                                        <div class="col-md-5">
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn btn-success toastrDefaultSuccess" style="margin: 15px;"
                                                data-toggle="modal" data-target="#modal-Residencia"> <i
                                                    class="fa fa-plus" aria-hidden="true"></i> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <-- /.card-body -->
                       <!-- </div>-->
                        <!-- /.card -->
                   <!-- </div> -->

                    <div class="row">
                        <div class="col-md-5">

                        </div>
                        <div class="col-md-3">
                            <button id="registrarCliente" class="btn btn-success toastrDefaultSuccess"
                                data-dismiss="modal" style="margin: 15px;"> Registrar
                                Cliente</button>
                        </div>
                        <div class="col-md-4">

                        </div>


                    </div>
                    <!-- /.row -->


                </div><!-- /.container-fluid -->

                <!--<div class="modal fade" id="modal-Residencia">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-primary" style="color: #ffffff">
                                <h3 class="card-title">
                                    <i class=" fa fa-id-card"></i>
                                    Agregar Residencia Nueva
                                </h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>-->

                            <!-- ************************************ INICIO REGISTRO CLIENTES *********************************************** -->

                          <!--  <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputName">Ciudad</label>
                                            <select id="cityAdd" class="form-control custom-select">
                                                <option selected disabled>Seleccionar Ciudad</option>
                                                <option>Medellín</option>
                                                <option>Bogotá</option>
                                                <option>Cali</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputStatus">Dirección</label>
                                            <input type="text" id="addressAdd" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputName">Pais </label>
                                            <select id="countryAdd" class="form-control custom-select">
                                                <option selected disabled>Seleccionar Pais</option>
                                                <option>Colombia</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputName">Departamento</label>
                                            <select id="departmentAdd" class="form-control custom-select">
                                                <option selected disabled>Seleccionar Departamento
                                                </option>
                                                <option>Antioquia</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-4">
                                        <button id="addDireccion" class="btn btn-primary toastrDefaultSuccess"
                                            data-dismiss="modal" style="margin: 15px;">
                                            Nueva Dirección </button>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <!-- /.card-body -->


                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

</body>

</html>