  
  
  <!-- Main Sidebar Container -->
  <div class="menu-navbar">
    <aside class="menu-navbar main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
          <img src="/img/adminlte/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
               style="opacity: .8">
          <span class="brand-text font-weight-light">SHILOT</span>
        </a>
    
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="/img/adminlte/perfil_hombre.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <a href="#" class="d-block" id ="fullNameMenuBar"></a>
            </div>
          </div>
    
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
							<li class="nav-item">
								<a href="/" class="nav-link">
										<i class="nav-icon fas fa-book"></i>
										<p>Pagina Principal</p>
								</a>
							</li>
              <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link active">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Gestion Incidencias
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                 
                  <li class="nav-item">
                    <a href="/registrarIncidencia" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Registro Incidencia</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/historialIncidencia" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Historial Incidencia</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link">
                  <i class="nav-icon ion-person-stalker"></i>
                  <p>
                    Gestion de Clientes
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/registrarCliente" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Registrar Clientes</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/historialCliente" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Historial Clientes</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview menu-open" style ="display:none" id ="AsignacionIncidente">
                <a href="#" class="nav-link">
                  <i class="nav-icon ion-clipboard"></i>
                  <p>
                    Asignación de incidentes
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/asignacionesTecnico" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Incidentes asignados</p>
                    </a>
                  </li>
                </ul>
                
              </li>
              <li class="nav-item has-treeview menu-open" style ="display:none" id ="estadisticas">
                <a href="#" class="nav-link">
                  <i class="far fa-chart-bar"></i>
                  <p>
                   Estadisticas
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/estadisticas" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Estadisticas</p>
                    </a>
                  </li>
                </ul>
                
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>
  </div>